In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

In [2]:
pd.set_option('display.max_columns', None) #forces all columns to be displayed
pd.set_option('display.max_rows', None) #forces all rows to be displayed

In [3]:
filepath = '../data/dropped_imputed.csv'
data = pd.read_csv(filepath)

In [4]:
len(data.columns)

75

In [5]:
len(data)

3142

In [ ]:
data.isna().sum()

Unnamed: 0                                              0
FIPS                                                    0
State                                                   0
County                                                  0
Deaths                                                  0
Years of Potential Life Lost Rate                       0
% Fair or Poor Health                                   0
Average Number of Physically Unhealthy Days             0
Average Number of Mentally Unhealthy Days               0
% Low Birthweight                                       0
% Adults Reporting Currently Smoking                    0
% Adults with Obesity                                   0
Food Environment Index                                  0
% Physically Inactive                                   0
% With Access to Exercise Opportunities                 0
% Excessive Drinking                                    0
% Driving Deaths with Alcohol Involvement               0
Chlamydia Rate                                         24
Teen Birth Rate                                         0
% Uninsured                                             0
Primary Care Physicians Rate                            0
Dentist Rate                                            0
Mental Health Provider Rate                             0
Preventable Hospitalization Rate                        0
% with Annual Mammogram                                 0
% Vaccinated                                            0
% Completed High School                                 0
% Some College                                          0
% Unemployed                                            0
% Children in Poverty                                   0
Income Ratio                                            0
% Children in Single-Parent Households                  0
Social Association Rate                                 0
Injury Death Rate                                       0
Average Daily PM2.5                                     0
Presence of Water Violation                            51
% Severe Housing Problems                               0
% Drive Alone to Work                                   0
% Long Commute - Drives Alone                           0
Life Expectancy                                         0
Age-Adjusted Death Rate                                 0
% Frequent Physical Distress                            0
% Frequent Mental Distress                              0
% Adults with Diabetes                                  0
% Food Insecure                                         0
% Limited Access to Healthy Foods                       0
% Insufficient Sleep                                    0
% Uninsured Adults                                      0
% Uninsured Children                                    0
Other Primary Care Provider Rate                        0
Segregation Index                                       0
School Funding Adequacy                                18
Gender Pay Gap                                          0
Median Household Income                                 0
% Household Income Required for Child Care Expenses     0
Child Care Centers per 1,000 Children                   0
% Voter Turnout                                        30
% Census Participation                                  0
Traffic Volume                                          0
% Homeowners                                            0
% Households with Severe Cost Burden                    0
% Households with Broadband Access                      0
Population                                              0
% Less than 18 Years of Age                             0
% 65 and Over                                           0
% Black                                                 0
% American Indian or Alaska Native                      0
% Asian                                                 0
% Native Hawaiian or Other Pacific Islander             0
% Hispanic                                              0
% Non-Hispanic White                                    0
% Not Proficient in English                             0
% Female                                                0
% Rural                                                 0
NaN_Count                                               0
dtype: int64

Chlamydia rate, presence of water violation, school funding adequacy, and % voter turnout still have null values, but not many. Propose dropping school funding adequacy, in part because vermont and Hawaii are null, and in part because we expect low correlation 
with the target(s).

Drops: School Funding Adequacy, NaN_Count

To drop, process or scale: Deaths

To drop or impute, possibly with a national average: Chlamydia Rate, % Voter Turnout

To Encode: Presence of Water Violation

We imputed the values for our target variable. Do we actually want to do this? No! It's a form of data leakage. In fact, this is true for all the values we imputed. This means we may have to impute at the level of pipeline processing, rather than imputing on the global set

In [ ]:
feature = 'Chlamydia Rate'
#feature = '% Voter Turnout'
data[data[feature].isnull()][['State', 'County', feature]]

         State           County  Chlamydia Rate
1193  Maryland         Allegany             NaN
1194  Maryland     Anne Arundel             NaN
1195  Maryland        Baltimore             NaN
1196  Maryland          Calvert             NaN
1197  Maryland         Caroline             NaN
1198  Maryland          Carroll             NaN
1199  Maryland            Cecil             NaN
1200  Maryland          Charles             NaN
1201  Maryland       Dorchester             NaN
1202  Maryland        Frederick             NaN
1203  Maryland          Garrett             NaN
1204  Maryland          Harford             NaN
1205  Maryland           Howard             NaN
1206  Maryland             Kent             NaN
1207  Maryland       Montgomery             NaN
1208  Maryland  Prince George's             NaN
1209  Maryland     Queen Anne's             NaN
1210  Maryland       St. Mary's             NaN
1211  Maryland         Somerset             NaN
1212  Maryland           Talbot             NaN
1213  Maryland       Washington             NaN
1214  Maryland         Wicomico             NaN
1215  Maryland        Worcester             NaN
1216  Maryland   Baltimore City             NaN